@import "/node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  display: grid;
  grid-template: 1fr 4fr/ 1fr 5fr;
  height: 100vh;
}

header {
  padding: 30px 50px;
  background-color: #2d87d3;
  grid-column: 2 / -1;
  color: #f0f0f0;
  font-weight: 500;
}

header .row {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 20px 0;
}
header .row .container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.icon {
  width: 25px;
}

header input {
  border-radius: 14px;
  border: none;
  background-color: #f0f0f0;
  width: 30vw;
  height: 25px;
}

header .row .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* second row */

header .row .profile-card {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 10px;
  align-items: center;
}

header .profile-card .profilePicture {
  width: 80px;
}

header .actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
  width: 100%;
}

header .actions button {
  border: none;
  border-radius: 20px;
  background-color: #1fd78d;
  color: #f0f0f0;
  font-weight: 500;
  padding: 10px;
}

.username {
  font-weight: 800;
}

.profilePicture {
  width: 45px;
  border-radius: 50%;
}

nav {
  background-color: #2d3943;
  grid-row: 1 / -1;
}

.mainContainer {
  background-color: antiquewhite;
}
