@import "/node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
}

header {
  padding: 0 50px;
  background-color: #2d87d3;
  grid-column: 2 / -1;
  color: #f0f0f0;
  font-weight: 500;
}

header .row {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 20px 0;
}
header .row .container {
  display: flex;
  gap: 20px;
  align-items: center;
}

header input {
  border-radius: 14px;
  border: none;
  background-color: #f0f0f0;
  width: 30vw;
  height: 25px;
}

header .row .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .icon {
  filter: invert(1);
}

/* second row */

header .row .profile-card {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 10px;
  align-items: center;
}

header .profile-card .profilePicture {
  width: 80px;
}

header .actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
  width: 100%;
}

header .actions button {
  border: none;
  border-radius: 20px;
  background-color: #1fd78d;
  color: #f0f0f0;
  font-weight: 600;
  padding: 10px;
}

.username {
  font-weight: 800;
}

.profilePicture {
  width: 45px;
  border-radius: 50%;
}

.icon {
  width: 25px;
}

nav {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #2d3943;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-left: 40px;
  color: #f0f0f0;
}

nav > .row {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

nav > .row h2 {
  color: #2d87d3;
  font-weight: 800;
  font-size: 1.3rem;
}

nav > .row img {
  width: 50px;
  height: 50px;
}

nav > .container > .row {
  margin: 10px 0;
  display: flex;
  gap: 20px;
  font-size: 1rem;
}

nav > .container > .row img {
  filter: invert(1);
}

.mainContainer {
  background-color: #f0f0f0;
  display: grid;
  gap: 40px;
  grid-template-columns: 3fr 1fr;
  padding: 30px 50px;
}

.mainContainer > .container:first-child {
  grid-row: 1 / 3;
}

.mainContainer > .container:first-child h3 {
  color: #2d87d3;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 20px;
}

.mainContainer > .container:first-child > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.mainContainer > .container:first-child > .container > .card {
  background-color: #ffffff;
  border-left: 10px solid #1fd78d;
  border-radius: 30px;
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.164);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.mainContainer > .container:first-child > .container h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.mainContainer > .container:first-child > .container .row {
  display: flex;
  align-self: flex-end;
  margin-top: 20px;
  gap: 10px;
}

img.favorite {
  content: url(assets/icons/star-plus-outline.svg);
}

img.visible {
  content: url(assets/icons/eye-check-outline.svg);
}

img.share {
  content: url(assets/icons/share-outline.svg);
}

.mainContainer > .container:nth-child(2) h3 {
  color: #2d87d3;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 20px;
}

.mainContainer > .container:nth-child(2) > .container {
  background-color: #ffffff;
  height: calc(100% - 70px);
  border-radius: 15px;
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.164);
  padding: 10px 30px 30px;
}

.mainContainer > .container:nth-child(2) > .container .announcement {
  display: block;
  height: 50px;
  width: 300px;
}

.mainContainer > .container:nth-child(2) > .container h4 {
  font-weight: 600;
  font-size: 1rem;
  margin: 20px 0 10px;
}

.mainContainer > .container:nth-child(2) > .container p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  color: #646c74;
}

.mainContainer > .container:last-child {
  grid-column: 2 / 3;
}

.mainContainer > .container:last-child h3 {
  color: #2d87d3;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 20px;
}

.mainContainer > .container:last-child > .container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.164);
  padding: 30px;
}

.mainContainer > .container:last-child .profile-card {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 25px 25px;
  column-gap: 20px;
}

.mainContainer > .container:last-child .profile-card img {
  width: 50px;
  grid-row: 1 / 3;
}

.mainContainer > .container:last-child .profile-card p {
  grid-row: 2 / 3;
  font-size: 0.9rem;
  color: #646c74;
}

.mainContainer > .container:last-child .profile-card h6 {
  grid-row: 1 / 2;
  margin: 0;
  font-size: 1rem;
}
